.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
docs/*
maps/*
*.pdf
*.xlsx
*.xml
*.tfw
.~lock*
# binaries conflicting
.~lock*
*.docx
test.svg
figures_draft_cache/*
figures_draft_files/*
sfn_datapaper_data.RData
resources/*.log
*.tiff
