.Rproj.user
.Rhistory
.RData
.Ruserdata
data/*
docs/*
maps/*
*.pdf
*.xlsx
*.xml
*.tfw
# binaries confilicting
.~lock*
*.docx
*.svg
figures_draft_cache/*
figures_draft_files/*
sfn_datapaper_data.RData
resources/*.log